.container {
  /* move back to component to allow for 16: 25% and 25: 20% boards*/
  flex: 25%;
  display: flex;
}

button {
  flex: 1;
  box-sizing: content-box;
  margin: 5%;
  border-radius: 5px;
  cursor: pointer;
}

.chosen {
  background-color: rgb(42, 238, 42);
  border-color: rgb(42, 238, 42);
}
